{% extends "base.html" %}

    {% block content %}
        <h2>Signup</h2>
        <div class="login-signup">
            <form method="post">
                <table>
                    <tr>
                        <td class="label">
                            Username
                        </td>
                        <td>
                            <input type="text" name="username" value="{{username}}">
                        </td>

                        <td class="error">
                           {{error_username}}
                        </td>
                    </tr>

                    <tr>
                        <td class="label">
                            Password
                        </td>
                        <td>
                            <input type="password" name="password" value="">
                        </td>
                        <td class="error">
                            {{error_password}}
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Verify Password
                        </td>
                        <td>
                            <input type="password" name="verify" value="">
                        </td>
                        <td class="error">
                            {{error_verify}}
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Email (optional)
                        </td>
                        <td>
                            <input type="text" name="email" value="{{email}}">
                        </td>
                        <td class="error">
                            {{error_email}}
                        </td>
                    </tr>
                </table>
            <br>
            <label class="comment">
            <form>
                <input type="submit">
                    <form method="get" action="/login">
                        <button>Login</button>
                    </form>
            </form>
            </label>
        </div>
 {% endblock %}